*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    height: 100%;
    width: 100%;
    background-image: linear-gradient( 111.4deg, rgb(4, 4, 4) 6.5%, rgb(4, 1, 38) 93.2% );
    color: aliceblue;
    

}
.navbar{
    width: 100vw;
    min-height: 50px;
    background-image: radial-gradient( circle 815px at 23.4% -21.8%,  rgba(9,29,85,1) 0.2%, rgba(0,0,0,1) 100.2% );
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
nav{
    width: 100%;
}
.nav{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#navitems{
    display: flex;
    gap:1.2rem;
    font-size: 1.6rem;
    flex-wrap: wrap;
     
}
.navlogo{
    font-size: 1.7rem;
    font-family: 'Architects Daughter', cursive;
    color: azure;
}

#navitems a{
    text-decoration: none;
    color: azure;
}


#Home{
    width: 65%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.2rem;
    box-shadow: 1px 1px 10px #ff0c0c;
    border-radius: 15px;
}
.item{
    margin: 1rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
       
}
@media (max-width:1200px) {
    .item{
        flex-direction: column;
        gap: 1.1rem;
        align-items: center;
    }
}
.rightbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: antiquewhite;
    
}
.rightbox img{
    height: 220px;
    width: 150px;
    border-radius: 12px;
    box-shadow: 1px 1px 1px white;
    border: 1.3px solid #fa9393;
    transition: all 0.8s linear 0s;
}
.rightbox img:hover{
    transform: scale(1.1);
}

.leftbox{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.recipe{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#About{
    width: 85%;
    margin: auto;
    margin-top: 6rem;
    padding: 1.5rem;
}
.ab{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    font-size: 1.1rem;
}
#Contact{
    width: 60%;
    margin: auto;
    margin-top: 5rem;
}
.conta{
    font-size: 1.3rem;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

footer{
    width: 100%;
    margin-top: 3rem;
}
.foot{
    width: 80%;
    padding: 1.5rem;
}
@media (max-width:550px) {
    .nav{
        flex-direction: column;
        gap: 0.7rem;
    }
    #navitems{
        font-size: 0.7rem;
    }
    .navlogo{
        font-size: 1.4rem;
    }
    .navbar{
        background-image: radial-gradient( circle 815px at 23.4% -21.8%,  rgb(1, 14, 48) 0.2%, rgba(0,0,0,1) 100.2% );
    }
    #About{
        width: 90%;
        padding: 0.5rem;
    }
    #Home{
        width: 85%;
        padding: 0.5rem;
        box-shadow: 0.5px 0.5px 5px #ef4848;
    }
    .conta{
        flex-direction: column-reverse;
    }
}